
.header {
  position: fixed;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
  z-index: 1;
}
.logo {
  width: 8rem;
}
.quote {
  background-color: #cd2345;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}
.section {
  height: 100vh;
}
.section1 {
  position: relative;
  top: 8vh;
  height: 62vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://images.livmatrix.com/img/landingpages/full-home-interiors/20190219/Web-banner-FINAL-1.jpg);
}
