@keyframes anim {
  from {
    transform: scale(1) translateX(0);
  }
  to {
    transform: scale(1.2) translateX(-1%);
  }
}
.header {
  position: fixed;
  z-index: 1;
}
.logo {
  width: 6rem;
}
.quote {
  background-color: #cd2345;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.section1 {
  height: 60vw;
  background-size: cover;
  background-image: url('./img/main.jpg');
  animation: anim 15s linear infinite alternate;
}

.freeQuote {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  background-color: #231f20;
  color: white;
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}